<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 text-center">
      <div class="fs-1 m-3">{{ titulotros }}</div>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center">
      <app-fecha></app-fecha>
    </div>
  </div>

  <div class="row">
    <div class="col-4 fondo"><app-aside></app-aside></div>

    <div class="col-8 fondo">
      <div class="row mt-3">
        <div class="col-12" *ngIf="otros$ | async as data">
          <div class="card mt-1 contenedor_card"
            *ngFor="let otro of data.otros">
            <div class="card-body">
              <div class="card-text">{{ otro.titulo }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row contenedor_card">
        <div class="col-12">
          <div class="card-body">
            <div class="card-text m-4">
              <p>He desarrollado un sitio web como Curriculum Vitae utilizando
                Angular 18, el uso de componentes reutilizables para evitar la
                duplicación de datos. Los datos que presenta el sitio están
                almacenados en un archivo JSON, el cual actúa como base de
                datos, y son recuperados de manera eficiente a través de
                servicios inyectables (Inject), garantizando una estructura
                organizada y limpia.</p>
              <p>La página está organizada en tres partes principales: aside,
                section y nav. En el aside, muestro mis datos personales,
                mientras que en la section se presenta la información principal
                de mi Curriculum Vitae. El nav contiene el sistema de routing,
                que permite navegar de manera eficiente entre las diferentes
                secciones de la página sin necesidad de recargarla. Además, en
                esta área he añadido un componente que muestra la fecha y hora
                actuales en tiempo real, actualizándose continuamente.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
