* {
  margin: 0;
  padding: 0;
}

.contenedor-aside {
  border-right: 2px solid black;
  padding: 20px;
}

.fotocurriculum {
  border: none;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fotocurriculum img {
  border: none;
  border-radius: 50%;
  width: 50%;
  text-align: center;
}

.contenido-enlace {
  text-align: center;
  gap: 20px;
  height: 100px;
}

.foto_enlace {
  width: 25%;
  transition: transform 0.3s;
  margin: 30px 10px;
}
.foto_enlace:hover {
  transform: scale(1.2);
}

.sobremi {
  margin: 30px 0 30px 0;
}

.proyecto {
  -webkit-box-shadow: 21px -4px 26px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 21px -4px 26px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 21px -4px 26px -8px rgba(0, 0, 0, 0.75);
  margin: 40px 0 0px 0;
  box-sizing: content-box;
  margin-left: 0px;

  padding: 10px 20px 10px 20px;
}

.proyecto ul li {
  list-style: none;
}
