<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 text-center">
      <div class="fs-1 m-3">{{ informatica }}</div>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center">
      <app-fecha></app-fecha>
    </div>
  </div>

  <div class="row">
    <div class="col-4 fondo"><app-aside></app-aside></div>
    <div class="col-8 fondo">
      <div class="row">
        <div class="col-12" *ngIf="informatica$ | async as data">
          <div class="card mt-5 contenedor_card" *ngFor="let infor of data.informatica">
            <div class="card-body">
              <h5 class="card-title fs-4">{{infor.titulo}}</h5>
              <div class="card-text fs-5">{{infor.desarrollo}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
